<app-page-header headerText="SENG302: Party Parrots At Sea" theme="grad-red-bg"></app-page-header>

<div class="container">
  <h1>Party Parrots At Sea</h1>

  <p>Named after the infamous slack emoji, Party Parrots at Sea is a fun, interactive 3D sailing simulator. The game was built 
    by a team of eight students as a part of the SENG302 course. SENG302 is a full year project course designed to give students 
    experience working on a large team-based project. Originally, the project was to build a visualizer for the 35th Americas Cup. 
    However, as the Americas Cup came to an end, we were instructed to turn our visualizer into a fully-fledged sailing game.</p>
    
</div>

<div class="container">
  <div class="yt-container">
      <iframe src="https://www.youtube.com/embed/AEB6ibtdPZc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="download-section">
  <div class="container">
    <div class="dl-header">
      <h1>Download</h1>
    </div>

    <div class="cta-button-container row">
        <div class="dl-link col-md-6">
            <a href="" class="">
              <i class="fa fa-download hvr-grow"></i>
              <div class="link-text">Download</div> 
            </a>
        </div>
  
        <div class="dl-link col-md-6">
            <a href="" class="">
              <i class="fa fa-code hvr-grow"></i>
              <div class="link-text">View Source</div> 
            </a>
        </div>
    </div>

  </div>
</div>

<!-- <div class="imgvf">
  <img class="vf" src="/assets/images/ppac.png"/>
</div>

<div class="container">
  <div class="imgv">
      <img class="v" src="/assets/images/ppac.png"/>
  </div>
</div>







<div class="container">

  <div class="row">
    <div class="col-md-5">
        <img style="height:150px; float: left;" src="https://static-assets-prod.epicgames.com/fortnite/static/webpack/8665bc2ff9eb68553f7a40e96521b7df.jpg" alt="">
    </div>
    <div class="col-md-7">
      <h1 style="width: 100%; text-align: left; float: left;">What is fortnite?</h1>
      <p style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ab dolorum excepturi, obcaecati repellendus suscipit omnis repudiandae, atque ipsam autem recusandae doloremque. Enim quae voluptatem harum fuga mollitia adipisci cumque?</p>
    </div>
  </div>
</div> -->
<!-- #c31c43
<div class="container">
  <h1>What is fortnite?</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ab dolorum excepturi, obcaecati repellendus suscipit omnis repudiandae, atque ipsam autem recusandae doloremque. Enim quae voluptatem harum fuga mollitia adipisci cumque?</p>
</div>
<app-cta-section></app-cta-section>

<app-cta-block></app-cta-block> -->