nav{
    background-color: rgba(0,0,0,0) !important;
    position: absolute;
    top: 0px;
    width: 100%;
}

.nav-link {
    color: white !important;
    font-family: 'Montserrat',  sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

.nav-link:hover {
    text-shadow: 3px 3px 0px rgba(146, 146, 146, 0.637);
}

@media only screen and (max-width: 770px) {
    nav{
        width: 0;
        visibility: hidden;
    }
}