<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">
    <div>
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Michael Rausch</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <div class="dropdown">
                      <button class="dropbtn">Logins</button>

                      <div class="dropdown-content">
                        <a target="_blank" href="http://portal.michaelrausch.nz">Portal</a>
                        <a target="_blank" href="http://mail.michaelrausch.nz">Exchange</a>
                        <a target="_blank" href="https://dev.azure.com/Michael-Rausch">Azure CI</a>
                        <a target="_blank" href="http://aad.michaelrausch.nz">Azure AD</a>
                        <a target="_blank" href="http://admin.michaelrausch.nz">Admin</a>
                        <a target="_blank" href="https://protection.office.com">Security</a>
                      </div>
                    </div>

                    <a class="ml-0" [href]="facebookUrl" target="_blank">
                        <i class="fa fa-facebook white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="twitterUrl" target="_blank">
                        <i class="fa fa-twitter white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="px500Url" target="_blank">
                        <i class="fa fa-500px white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="linkedinUrl" target="_blank">
                        <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="githubUrl" target="_blank">
                        <i class="fa fa-github white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
</footer>
<!--/.Footer-->
                      