<div class="row">
  <app-project-card class="col-md-4" 
                    title="Party Parrots At Sea" 
                    desc="A fun 3D sailing simulator built as a full-year team project." 
                    modal="" 
                    url="https://bitbucket.org/michaelrausch/party-parrots-at-sea"
                    featImg="/assets/images/ppac.png"
                    category="group project"></app-project-card>
  
  <app-project-card class="col-md-4" 
                    title="Thingstarter" 
                    desc="A Kickstarter clone, built using Angular 4 and Sails.js."
                    modal="" 
                    url="http://thingstarter.michaelrausch.nz"
                    featImg="/assets/images/tsbg.png"
                    category="assignment"></app-project-card>
  
  <app-project-card class="col-md-4" 
                    title="Programming ASP.NET Core" 
                    desc="Programming ASP.NET Core is the definitive guide to practical web-based application development with Microsoft’s new ASP.NET Core framework." 
                    url="https://blogs.msdn.microsoft.com/microsoft_press/2018/05/10/new-book-programming-asp-net-core/"
                    featImg="/assets/images/aspcore.png"
                    category="learning"></app-project-card>
</div>