<div class="row">
  <app-project-card class="col-md-4" title="Party Parrots At Sea" desc="A fun 3D sailing simulator built as a full-year team project." url="https://github.com/haomingyin/partyparrot-at-sea"></app-project-card>
  <app-project-card class="col-md-4" title="Thingstarter" desc="A Kickstarter clone, built using Angular2 and Sails.js." url="http://365.heroku.michaelrausch.nz"></app-project-card>
  <app-project-card class="col-md-4" title="This Website" desc="A complete rebuild of my existing website." url="https://michaelrausch.nz"></app-project-card>
</div>
