<app-resume-section>
    <app-resume-section-content-with-glyph icon="fa-keyboard-o">
        <app-resume-section-header>Skills</app-resume-section-header>
        
        <table>
            <tr>
                <th>Languages</th>     
                <th>Web Technologies</th> 
                <th>Other Skills</th>                               
            </tr>
            <tr>
                <td>Java</td>
                <td>Angular 2+</td> 
                <td>Git</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>HTML5 / CSS3</td> 
                <td>Vue</td>
            </tr>
            <tr>
                <td>Javascript & TypeScript</td>
                <td>Spring Framework</td> 
                <td>SQL (MySQL, Postgres)</td>
            </tr>
            <tr>
                <td>Swift</td>
                <td>NodeJS</td> 
                <td>Embedded Systems</td>
            </tr>
            <tr>
                <td>C / C++</td>
                <td>Dotnet Core</td> 
                <td>iOS Development</td>
            </tr>
        </table>
    </app-resume-section-content-with-glyph>
</app-resume-section>