.alert {
    padding: .85rem 1.25rem;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-shadow: 0 3px 30px rgba(50, 50, 50, 0.2);   
}

.alert-success {
    background-color: #75C7B6;
    border-color: #75C7B6;
    color: white;
}

.alert-danger {
    background-color: #EC768C;
    border-color: #EC768C;
    color: white;
}

