<app-resume-section>
    <app-resume-section-content-with-glyph icon="fa-keyboard-o">
        <app-resume-section-header>Skills</app-resume-section-header>
        
        <table>
            <tr>
                <th>Frontend Web</th>
                <th>Backend Web</th> 
                <th>Languages</th>                                    
            </tr>
            <tr>
                <td>Angular 2+</td>
                <td>Dotnet Core MVC</td> 
                <td>Java</td>
            </tr>
            <tr>
                <td>Vue</td>
                <td>SQL</td> 
                <td>Python</td>
            </tr>
            <tr>
                <td>HTML5 / CSS3</td>
                <td>PHP</td> 
                <td>Swift</td>
            </tr>
            <tr>
                <td>Javascript</td>
                <td>NodeJS (express)</td> 
                <td>Javascript</td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td>Python(flask)</td> 
                <td>C / C++</td>
            </tr>
        </table>
    </app-resume-section-content-with-glyph>
</app-resume-section>