.jumbotron{
    height: 400px;
    /* background-color: rgb(97,101,249); */
    border-radius: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background: #396afc; 


                                                                    
    /* background: url("https://dunedinstadium.files.wordpress.com/2015/09/nz-flag2-flagz-co-nz.jpg");
    background-size:     cover;       
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: rgba(0,0,0,0); */
}

particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 400px;


    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); */

    /* background: #396afc; 
    background: -webkit-linear-gradient(to right, #2948ff, #537cf5);  
    background: linear-gradient(to right, #2948ff, #537cf5);   */
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-image: linear-gradient(to left, #007adf 0%, #00ecbc 100%);

    background: #396afc; 
    background: -webkit-linear-gradient(to right, #2948ff, #537cf5);  
    background: linear-gradient(to right, #2948ff, #537cf5);  
    background-image: linear-gradient(to right bottom, #007aff, #0086ff, #0091ff, #009cff, #00a6ff);

    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(103, 253, 228), #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(103, 253, 228), #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.particles-container, .particles-container canvas {
    width: 100% !important;
    height: 500px !important;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 500px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    color: white;
    font-size: 74px;
    width: 870px;
    text-align: center;
    margin: 20px auto 0 auto ;
    text-shadow: 3px 3px 0px rgba(153, 153, 153, 0.671);
}

.cta{
    height: 50px;
    width:400px;
    margin: 50px auto 0 auto;
}

.cta a{
    color: white;
    width: 170px;
    height: 55px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;

    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    padding-top: 7px;

    border: 4px solid white;

    transition: color .3s, background-color .3s;
}

.cta a:hover{
    color: black;
    border-color: white;
    background-color: white;
    text-decoration: none;
}

@media only screen and (max-width: 691px) and (min-width: 575px) {
    h1 {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 575px)  {
    h1 {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 955px) and (min-width: 691px) {
    h1 {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 955px) {
    h1 {
        overflow-wrap: break-word;
        width: 100%;
        text-align: center;
    }

    .cta{
        width: 0;
        height: 0;
        visibility: hidden;
    }
}