<app-resume-section odd="true">
    <app-resume-section-content-with-glyph icon="fa-graduation-cap">
        <app-resume-section-header>University of Canterbury</app-resume-section-header>

        <app-resume-section-blurb>B.Sc Computer Science. Graduated: July 2018</app-resume-section-blurb>

        <h5>Favourite Courses: </h5>
        <ul>
                <li>Software Engineering Group Project</li>
                <li>Web Computing Architectures</li>
                <li>Data and Network Security</li>
                <li>Operating Systems</li>
                <li>Relational Database Managment Systems</li>
                <li>Embedded Systems 1</li>
        </ul>
    </app-resume-section-content-with-glyph>
</app-resume-section>