.cta-buttons{
    width: 400px;
    margin: 40px auto;
    color: white;
}

.cta-section{
    padding-top: 90px;
}

@media only screen and (max-width: 955px) {
    .cta-section {
        display: none;
    }

    .cta-buttons {
        display: none;
    }
}