<div class="row">
  <app-project-card class="col-md-4" 
                    title="iOS" 
                    desc="I have been experimenting with iOS development. Check out my GitHub to see what i've been working on." 
                    url="https://github.com/michaelrausch"
                    featImg="/assets/images/ios.jpg"
                    category="learning"></app-project-card>

  <app-project-card class="col-md-4" 
                    title="Party Parrots At Sea" 
                    desc="A fun 3D sailing simulator built as a full-year team project." 
                    modal="" 
                    url="https://bitbucket.org/michaelrausch/party-parrots-at-sea"
                    featImg="/assets/images/ppac.png"
                    category="group project"></app-project-card>
  
  <app-project-card class="col-md-4" 
                    title="Thingstarter" 
                    desc="A Kickstarter clone, built using Angular 4 and Sails.js."
                    modal="" 
                    url="http://thingstarter.michaelrausch.nz"
                    featImg="/assets/images/tsbg.png"
                    category="assignment"></app-project-card>
  

</div>