/* You can add global styles to this file, and also import other style files */
.left{
    float: left;
}

.right{
    float: right;
}

.alert-danger {
    color: #78281f;
    background-color: #fadbd8;
    border-color: #f8cdc8;
  }
  
  .alert-danger hr {
    border-top-color: #f5b8b1;
  }
  
  .alert-danger .alert-link {
    color: #4f1a15;
  }

  .alert-success {
    color: #0c6251;
    background-color: #d1f2eb;
    border-color: #beece3;
  }
  
  .alert-success hr {
    border-top-color: #aae6db;
  }
  
  .alert-success .alert-link {
    color: #06352b;
  }

  .bottom-pad{
      padding-bottom: 170px;
  }

  .link{
      color: #2a4bfe;
  }

/* NEW */

/**
* Headings 
*/

h2{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    color: #2b2b2b;
    letter-spacing: 1.2px;
    font-size: 30px;

}

h3{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 30px;    
    color: rgb(46, 46, 46);
}

h5{
    font-family: 'Montserrat',  sans-serif;
    color: #242424;
    font-weight: 600;
    font-size: 22px;
}

.bold-content-head {
    font-size: 30px;
    font-weight: 700;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.grad-red-bg {
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grad-blue-bg {
    background: #396afc; 
    background: -webkit-linear-gradient(to right, #2948ff, #537cf5);  
    background: linear-gradient(to right, #2948ff, #537cf5); 
}

.project-subheading {
    text-align: left;
    font-size: 25px;
    font-weight: 600; 
    margin-bottom: 10px;
    padding: 0 !important;
}

.project-paragraph {
    font-family: 'Montserrat',  sans-serif;
    color: #6b7c93;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

/**
    Custom Badge Styles
**/

.badge-learning {
    background-color: rgb(255, 193, 7);
    color: white;
}

.badge-project{
    background-color: rgb(221, 138, 13);
    color: white;
}

.badge-group-project{
    background-color: rgb(40, 167, 68);
    color: white;
}

.badge-assignment{
    background-color: rgb(0, 123, 255);
    color: white;
}

.badge-reading{
    background-color: rgb(255, 0, 43);
    color: white;
}

/* body, html {
    background-color: rgb(0, 0, 0);
}

h2 {
    color: white !important;
}

p {
    color: white !important;
}

.link {
    color: white !important;
}

.project-card {
    background-color: #242424;
}

.project-card h3 {
    color: white;
}

.card-button {
    background-color: #3b3b3b !important;
    border-color: #6b7c93;
    color: #6b7c93 !important;
} */

.icon-padding-right {
    padding-right: 10px;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}
