<app-page-header headerText="{{dateString}}"></app-page-header>
<app-google-search></app-google-search>

<div class="container">

  <div class="row">
      <!-- Row 1 -->

      <app-widget class="col-md-4" 
        text="Mail" 
        icon="fa-envelope" 
        background="bg-green-beach" 
        href="http://mail.michaelrausch.nz">
      </app-widget>

      <app-widget 
        class="col-md-4" 
        text="Learn" 
        icon="fa-graduation-cap" 
        background="bg-learn-green"
        href="http://learn.canterbury.ac.nz">
      </app-widget>

      <app-widget 
        class="col-md-4" 
        text="Calendar" 
        icon="fa-calendar" 
        background="bg-cherry" 
        href="http://mail.michaelrausch.nz">
      </app-widget>

      <!-- Row 2 -->

      <app-widget 
        class="col-md-3" 
        text="BitBucket" 
        icon="fa-bitbucket" 
        background="bg-skyline" 
        href="http://bitbucket.org/michaelrausch">
      </app-widget>

      <app-widget 
        class="col-md-3" 
        text="Jenkins" 
        icon="fa-server" 
        background="bg-bloody-mary" 
        href="http://jenkins.michaelrausch.nz">
      </app-widget>

      <app-widget 
        class="col-md-3" 
        text="ASB" 
        icon="fa-credit-card" 
        background="bg-mango" 
        href="http://asb.co.nz">
      </app-widget>

      <app-widget 
        class="col-md-3" 
        text="Jira" 
        icon="fa-bitbucket" 
        background="bg-skyline"
        href="https://jira.michaelrausch.nz">
      </app-widget>

      <!-- Row 3 -->
      
      <app-widget 
        class="col-md-3" 
        text="Metservice" 
        icon="fa-cloud" 
        background="bg-juicy-orange" 
        href="http://metservice.com/towns-cities/christchurch/christchurch-city">
      </app-widget>

      <app-widget 
        class="col-md-3" 
        text="Facebook"
        icon="fa-facebook" 
        background="bg-facebook" 
        href="http://facebook.com">
      </app-widget>

      <app-widget 
        class="col-md-3" 
        text="Youtube" 
        icon="fa-youtube" 
        background="bg-youtube" 
        href="http://youtube.com">
      </app-widget>

      <app-widget 
        class="col-md-3" 
        text="iCloud" 
        icon="fa-apple" 
        background="bg-sea-weed"
        href="http://icloud.com">
      </app-widget>

  </div>
</div>