<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">
    <div>
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Michael Rausch 2020.</h6>
                    <small><a target="_blank" href="https://icons8.com/icons/set/apple-app-store--v3">Apple App Store</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></small>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right right">
                    <div class="dropdown">
                      <button class="dropbtn">Logins</button>

                      <div class="dropdown-content">
                        <a target="_blank" href="https://portal.office.com/">Portal</a>
                        <a target="_blank" href="https://outlook.office365.com/mail/">Mail</a>
                        </div>
                    </div>

                    <a class="ml-0" [href]="facebookUrl" target="_blank">
                        <i class="fab fa-facebook white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="twitterUrl" target="_blank">
                        <i class="fab fa-twitter white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="px500Url" target="_blank">
                        <i class="fab fa-500px white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="linkedinUrl" target="_blank">
                        <i class="fab fa-linkedin white-text mr-lg-4"> </i>
                    </a>

                    <a [href]="githubUrl" target="_blank">
                        <i class="fab fa-github white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
</footer>
<!--/.Footer-->
                      